
<%#= simple_form_for(@room) do |f| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#= f.input :name %>
  </div>

  <div class="form-actions">
    <%#= f.button :submit, "Add room", class: "btn btn-create" %>
  </div>
<%# end %>


<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%#= form.label "Add a new room" %>
    <%= form.text_field :name, class: 'form-control', placeholder: "Room name" %>
  </div>

  <%= form.submit "Add a new room", class: "btn btn-ghost btn-block" %>
<% end %>
