<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<div class="container-fluid mt-3 ml-4 mr-4">
    <h2 class="text-left mt-4">CASA Chatrooms</h2>
  <div class="row">
    <div class="col-md-3 col-sm-3 rooms-sidebar">
      <div class="card no-outline">
        <div class="card-body">
          <p>Hey <b><%= current_user.username %></b>, how are you today? 😎</p>
        </div>
      </div>
      <hr>
      <%= render 'form', room: Room.new %>
      <hr>
      <% @rooms.each do |room| %>
        <%= link_to room, class: 'room-link' do %>
          <% active_class = (@room == room) ? 'active' : '' %>
          <div class="card no-outline mb-2 room-card <%= active_class %>">
            <div class="card-body">
              <span class='name'><%= room.name %></span><br>
              <span class='member-count'>
                <small><%= room.users.uniq.count %> Members</small>
              </span>
                <%#= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-info" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-9 col-sm-9">
      <% if @room.present? %>
        <div class="chat-room mr-3">
          <nav class="navbar navbar-light">
            <span class="navbar-brand">
              <h3><b><%= @room.name %></b></h3>
            </span>
            <small><%= @room.users.uniq.count %> Members</small>
          </nav>
          <div id="messages" class="ml-5 mr-5">
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

              <%#= image_tag(current_user.avatar_thumbnail, class: "avatar-large", id: "avatar") %>
<br>
<br>
<br>
<br>
